 /* Below is the index for css/sass */
 /* Index
 1. Body
 2. Header
 ul
 ul > li
 #intro
 #intro > h1 + p
 button &:hover &:focus
 */
body
    margin: 0
    padding: 0
    text-align: center
header
    background-image: url(images/road.jpg)
    background-repeat: no-repeat
    background-size: 100%
    height: 45em
    margin: 0
    padding: 0
    ul
        margin: 0
        list-style-type: none
        padding-top: 2em
        li
            display: inline-block
            margin-left: 100px
            margin-right: 100px
            a
                color: #ffbe33
                font-family: 'Josefin Sans', sans-serif //From font.css
                font-size: 24px
                font-weight: bolder
                text-decoration: none
                transition: all .3s ease-in
                &:hover
                    color: #a8a8a8
    #intro
        margin: 14em auto
        width: 30em
        color: white
        h1
            font-family: 'Hind Silguri', sans-serif
            font-size: 3.4375em
        p
            font-family: 'Josefin Sans', sans-serif
            font-size: 1.5em
    button
        background: none
        border: solid 1px white
        bottom: 2em
        right: 3em
        color: white
        cursor: pointer
        font-family: 'Josefin Sans', sans-serif
        font-size: 1em
        font-weight: bolder
        height: 2.5em
        position: absolute
        transition: all .3s ease-in
        width: 5.3125em
        &:hover
            background: white
            color: black
        &:focus
            outline: none
#picks
    h1
        margin: 2em auto
        font-family: 'Hind Silguri', sans-serif
    #top-picks
        figure
            height: 500px
            width: 300px
            overflow: hidden
            display: inline-block
            border-radius: 10px
            img
                height: 500px
                width: 300px