body
    margin: 0
    padding: 0
header
    margin: 0
    height: 754px
    background-image: url("images/road.jpg")
    background-size: 100%
    #intro
        outline: solid 1px black
        width: 30%
        height: 15%
        text-align: center
    ul li
        list-style-type: none
        display: inline-block
        margin-right: 100px
        a
            text-decoration: none
            font-family: 'Josefin Sans', sans-serif //From font.css
            font-weight: bolder
            color: #ffbe33
section
    padding-top: 30px
    padding-bottom: 30px
    text-align: center
    outline: solid 1px blue
    .templates
        margin: 50px
        outline: solid 1px black
        display: inline-block
        width: 25%
    .more
        a button
            text-align: center
            color: white
            border: none
            border-radius: 5px
            height: 35px
            background: #ffbe33
            &:focus
                outline: none
footer
    outline: solid 1px red
    background-color: #333
    padding: 20px
    #links
        h4
            color: #888
        ul li
            list-style: none
            a
                text-decoration: none
                color: #888
