body
    margin: 0
    padding: 0
//Header Goes here
header
    margin: 0
    height: 754px
    background-image: url("images/road.jpg")
    background-size: 100%
    background-repeat: no-repeat
    text-align: center
    #intro
        width: 30%
        height: 15%
        text-align: center
        position: absolute
        left: 35%
        top: 35%
        color: white
        pointer-events: none
        h1
            font-family: 'Hind Silguri', sans-serif
            font-size: 55px
        p
            font-family: 'Josefin Sans', sans-serif
            font-size: 24px
    ul li
        list-style-type: none
        display: inline-block
        margin-left: 100px
        margin-right: 100px
        a
            transition: all .3s ease-in
            text-decoration: none
            font-family: 'Josefin Sans', sans-serif //From font.css
            font-weight: bolder
            color: #ffbe33
            font-size: 24px
            &:hover
                color: #a8a8a8
    button
        position: absolute
        height: 40px
        width: 85px
        right: 40px
        bottom: 40px
        background: none
        border: solid 1px white
        color: white
        font-weight: bolder
        transition: all .3s ease-in
        cursor: pointer
        font-family: 'Josefin Sans', sans-serif
        font-size: 16px
        &:hover
            background: white
            color: black
        &:focus
            outline: none
#container
    position: fixed
    height: 400px
    width: 400px
    background: white
    left: 35%
    top: 24%
    padding: 24px
    border-radius: 10%
    box-shadow: 0px 16px 12px -3px rgba(0, 0, 0, 0.7)
    #box
        height: 10px
        width: 10px
        border: solid 1px #777777
        position: absolute
        right: 50px
        top: 40px
    input[type="submit"]
        position: absolute
        bottom: 70px
        right: 80px
        border: none
        height: 45px
        width: 95px
        color: white
        font-weight: bolder
        font-size: 15px
        background-color: #ffbc64
        cursor: pointer
        box-shadow: 0px 4px 6px -2px #000
        &:active
            box-shadow: inset 0px 3px 3px -1px rgba(0,0,0,0.6)
        &:focus
            outline: none
    input[type="text"], input[type="password"]
            height: 30px
            width: 60%
            border: none
            border-bottom: solid 1px black
            font-size: 18px
            font-family: 'Ubuntu', sans-serif
            &:focus
                outline: none
    h2, p, a
        font-family: sans-serif
    a
        position: relative
        display: block
        top: 120px
        font-size: 15px
        margin-bottom: 20px
        text-decoration: none
        color: black
        &:hover
            text-decoration: underline
.box
    font-family: Verdana, Geneva, Tahoma, sans-serif
    position: absolute
    right: 30px
    top: 20px
    color: #666
    font-size: 24px
    cursor: pointer
    &:hover
        color: red
.show
    display: block
.hide
    display: none
.picks
    text-align: center
    padding: 25px
    #temp //The cards displaying top picks
        border-radius: 7%
        display: inline-block
        height: 230px
        width: 200px
        margin-bottom: 40px
        margin-top: 40px
        margin-right: 80px
        box-shadow: 0px 3px 6px -2px rgba(0,0,0, 0.8)
        margin-left: 80px
        overflow: hidden
    .more
        a button
            border: none
            background: #f19d00
            color: white
            font-weight: bold
            height: 40px
            border-radius: 5px
            cursor: pointer
            &:hover
                transform: scale(1.05)
            &:focus
                outline: none
            &:active
                transform: scale(1)
                box-shadow: inset 0px 2px 2px -1px black
    h1
        font-family: 'Hind Siliguri', sans-serif
#temp
    img
        height: 85%
        width: 100%
    h4
        margin: 0
        padding: 0
        color: black
        font-family: 'Hind Siliguri', sans-serif
    &:hover
        transition: .2s cubic-bezier(0.25, 1.24, 1, 1.67)
        transform: scale(1.1) translateY(-12px)
        box-shadow: 0px 5px 6px -3px rgba(0,0,0, 0.8)
    &:active
        transform: scale(1)
        transition: none
        box-shadow: 0px 1px 2px -1px black
#top-picks
    a
        text-decoration: none
#join
    height: 600px
    margin: 0px
    article
        display: inline-block
        margin: 0
        height: 600px
    .text
        background: #494949
        width: 40%
        position: absolute
        left: 0
        text-align: center
        h1
            font-size: 38px
            margin: 30px
            color: white
            font-family: 'Josefin Sansa', sans-serif
        p
            margin: 20px
            font-size: 24px
            color: white
            font-weight: lighter
            font-family: 'Hind Siliguri', sans-serif
        h1,p
            position: relative
            top: 24%
    .form
        position: absolute
        right: 0
        width: 60%
        background: #ffbb6b
    form
        background: #fff
        border-radius: 10%
        height: 70%
        width: 40%
        position: relative
        left: 30%
        top: 10%
        padding: 10px
        padding-left: 30px
        box-shadow: 0px 3px 6px -2px #000
        h2, p
            font-family: sans-serif
        input[type="submit"]
            border: none
            height: 40px
            width: 80px
            color: white
            font-weight: bold
            background: #ff0000
            cursor: pointer
            box-shadow: 0px 3px 6px -2px #000000
            &:hover
                transform: scale(1.05)
            &:active
                transform: scale(1)
                box-shadow: inset 0px 3px 5px -2px black
            &:focus
                outline: none

        input[type="text"], input[type="email"], input[type="password"]
                border: none
                border-bottom: solid 1px black
                width: 60%
                padding-left: 5px
                &:focus
                    outline: none
// Footer goes here
footer
    background-color: #333
    padding: 20px
    #links
        h4
            color: #888
        ul li
            list-style: none
            a
                text-decoration: none
                color: #888888
    #social-media
        a
            text-decoration: none
            font-size: 24px
            color: black