/* Below is the index for css/sass */
/* Index
 1. Body
 2. Header
 ul
 ul > li
 #intro
 #intro > h1 + p
 button &:hover &:focus
 */
body {
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-image: url(images/road.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 45em;
  margin: 0;
  padding: 2em 0;
}

header ul {
  margin: 0;
  list-style-type: none;
}

header ul li {
  display: inline-block;
  margin-left: 100px;
  margin-right: 100px;
}

header ul li a {
  color: #ffbe33;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  font-weight: bolder;
  text-decoration: none;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

header ul li a:hover {
  color: #a8a8a8;
}

header #intro {
  margin: 14em auto;
  width: 30em;
  color: white;
}

header #intro h1 {
  font-family: 'Hind Silguri', sans-serif;
  font-size: 3.4375em;
}

header #intro p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
}

header button {
  background: none;
  border: solid 1px white;
  bottom: 2em;
  right: 3em;
  color: white;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1em;
  font-weight: bolder;
  height: 2.5em;
  position: absolute;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  width: 5.3125em;
}

header button:hover {
  background: white;
  color: black;
}

header button:focus {
  outline: none;
}

#picks {
  padding: 2em 0;
}

#picks h1 {
  margin: 0 auto;
  font-family: 'Hind Silguri', sans-serif;
}

#picks button {
  background: #f88020;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  height: 40px;
}

#picks button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#picks button:focus {
  outline: none;
}

#picks button:active {
  -webkit-box-shadow: inset 0px 2px 2px -1px black;
          box-shadow: inset 0px 2px 2px -1px black;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#picks #top-picks figure {
  border-radius: 7%;
  -webkit-box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.8);
  height: 14.375em;
  width: 12.5em;
  overflow: hidden;
  display: inline-block;
  margin: 2.5em 6.25em;
}

#picks #top-picks figure:hover {
  -webkit-box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.8);
  -webkit-transition: 0.2s cubic-bezier(0.25, 1.24, 1, 1.67);
  transition: 0.2s cubic-bezier(0.25, 1.24, 1, 1.67);
  -webkit-transform: scale(1.1) translateY(-12px);
          transform: scale(1.1) translateY(-12px);
}

#picks #top-picks figure:active {
  -webkit-box-shadow: 0px 1px 2px -1px black;
          box-shadow: 0px 1px 2px -1px black;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: none;
  transition: none;
}

#picks #top-picks figure img {
  height: 85%;
  width: 100%;
}

#picks #top-picks figure figcaption {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

#register {
  margin: 0;
  position: relative;
}

#register > * {
  overflow-x: hidden;
  z-index: 1;
  height: 100%;
  width: 50%;
  margin: 0;
  position: relative;
}

#register .desc {
  outline: solid 1px red;
}

#register .desc p {
  margin: 0;
}

#register .form {
  left: 50%;
  outline: solid 1px blue;
}

footer {
  background: #444;
  border-top: solid 1px black;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

footer > * {
  display: inline-block;
}

footer #social ul {
  list-style-type: none;
}

footer #quick-links ul {
  list-style-type: none;
}
/*# sourceMappingURL=style.css.map */