@import url("https://fonts.googleapis.com/css?family=Hind+Siliguri|Josefin+Sans|Oswald|Ubuntu&display=swap");
/* 
    use
    font-family: 'Oswald', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Hind Siliguri', sans-serif;
*/
